* {
    box-sizing: border-box;
}

header{
    padding: 30px;
    text-align: center;
    background: whitesmoke;
}

.titulo-page{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10x;
    background: #f1f1f1;
}

#link-especial{
    float: right;
}

nav{
    overflow: hidden;
    background-color: #333;
}

nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}